body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

p5 {
	font-size: 50px;
	background-color: crimson;
	width: 50px;
}
p6 {
	font-size: 50px;
	background-color: royalblue;
	width: max-content;
}
div {
	margin-left: 150px;
	font-size: 35px;
	border-style: dotted;
	
}
button {
	background-color: gold;
	height: 100px;

}